<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

    <title>Register</title>
</head>
<body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
        <h3>Create Account</h3>
        <form method="POST" action="/register">
            <div class="form-group mb-2">
                <label for="email">Email address</label>
                <input class="form-control" type="email" name="email" placeholder="Enter email"
                    style="width: 300px;" />
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Password"
                    style="width: 300px;" />
                <button type="submit" class="btn btn-primary" style="margin-top: 1rem">Register</button>
            </div>
        </form>
    </main>
</body>
</html>